/* Estilo para los botones */
.minimalButton {
    -fx-font-size: 14px;
    -fx-font-family: 'Arial';
    -fx-background-color: transparent;
    -fx-border-color: #333333;  /* Borde gris oscuro */
    -fx-border-radius: 5px;
    -fx-text-fill: #333333;      /* Texto gris oscuro */
    -fx-padding: 5px 10px;
    -fx-font-weight: bold;
}

/* Efecto hover para los botones */
.minimalButton:hover {
    -fx-background-color: #555555; /* Fondo gris más oscuro al hacer hover */
    -fx-text-fill: #ffffff;        /* Texto blanco al hacer hover */
    -fx-border-color: #ffffff;    /* Borde blanco al hacer hover */
}
